/* Write your code here. */

.faqs-bg-container {
  background-color: #f1f5f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.faqs-card-container {
  background-color: #ffffff;
  height: 90%;
  width: 90vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.faqs-heading {
  color: #cb8805;
  font-size: 32px;
  font-family: 'Roboto';
  text-align: center;
}
